<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="nav">
        <nav>
            <a href="/comments">Great Quotes</a>
            <div class="links">
                <a href="/comments">All Quotes</a>
                <a href="/comments/new">New Quotes</a>
            </div>
        </nav>
    </div>
    <div class="content" style="margin: 10px 20px; font-size: 24    px;">
        <h1><%= fcomment.username %></h1>
        <br>
        <p><%= fcomment.comment %></p>
    </div>
    
</body>
</html>